body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  /* line-height: 24px; */

  margin: 0;
  padding: 0;
  line-height: 1.34;
  font-size: 12px;

  min-height: 100vh;
  background: #edf0f5;

  display: flex;
  place-items: center;
}

.wrap {
  display: flex;

  flex-direction: row-reverse;
  align-items: center;

  margin-left: 31.25rem;
  margin-top: -3.125rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  width: 24.75rem;
  height: 22.25rem;

  font-size: 12px;

  background: #fff;

  gap: 0.65rem;
}

.contentForm {
  display: flex;

  width: 25rem;
  font-size: 14px;
  flex-wrap: wrap;

  text-align: center;
}

.logo {
  margin-left: -3.75rem;
  width: 22.5rem;
  height: 6.625rem;
}

.contentText p {
  margin-top: -0.625rem;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  line-height: 28px;
  letter-spacing: 0.5px;
}

.contentText {
  font-size: 26px;
  display: flex;
  flex-direction: column;
  width: 37.25rem;
  margin-right: 3rem;
  padding: 2.5rem;
}

a {
  font-size: 14px;
}

hr {
  color: lightgray;
  opacity: 50%;
  width: 90%;
}

input {
  padding: 14px 16px;
  border-radius: 6px;
  border: 1px solid gray;
  font-size: 17px;
  width: 20.625rem;
  opacity: 50%;
}

.enterButton {
  width: 22.75rem;
  height: 3rem;
  color: #fff;
  background: #1877f2;
  border-radius: 6px;
  padding: 0 16px;

  cursor: pointer;

  font-size: 20px;
  line-height: 48px;
  font-weight: bold;
  border: 1px solid transparent;
}

.newAccountButton {
  width: 10.81rem;
  height: 3rem;

  cursor: pointer;

  border: 1px solid transparent;
  color: #fff;
  background: #42b72a;

  font-weight: bold;
  line-height: 48px;
  font-size: 17px;
  border-radius: 6px;
  padding: 0 16px;
}

@media (max-width: 1280px) {
  .wrap {
    margin-left: 8.25rem;
  }

  body {
    font-size: 10px;
  }

  .content {
    font-size: 8px;
  }
}

@media (max-width: 1024px) {
  .wrap {
    margin-left: 0.25rem;
  }

  .contentText {
    font-size: 20px;
    width: 30.25rem;
  }
}

@media (max-width: 768px) {
  .wrap {
    flex-direction: column-reverse;
  }

  .contentText {
    font-size: 20px;
    width: 18.25rem;

    display: none;
  }
}
